.thumbnail {
    padding: 0;
    border-radius: 0px;
    transition: all 0.25s linear;
    max-height: 300px;
    overflow: hidden;
    &:hover {
        box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    }

}
.card-container {
    min-height: 640px;
}
.card-anim {
    &-enter {
        opacity: 0.01;
        &-active {
             opacity: 1;
            transition: opacity 500ms ease-in;
        }
    }
    &-leave {
        opacity: 1;
        &-active {
            opacity: 0.01;
            transition: opacity 300ms ease-in;
        }
    }
}