$blue:          #35A7FF;
$teal:          #38618C;
$yellow:        #FDE74C;
$green:         #9BC53D;
$red:           #C3423F;
$indigo:        #264653;
$white2:        #F7FFF7;
$black2:        #211A1E;
$black3:        #2C2C34;
$body-bg:       #f6f7f8;
$footer-bg:     #E7E7E7;
$jet-purple:    #8200ff;
$jet-header:    #6004BA;
